@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div id="helloworld"></div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        
        $.ajax({
            url: "http://localhost:56983/api/helloworld/helloworld",
            success: function (result) {

                $("#helloworld").html="";
                if (result.length > 0) {
                    $.each(result, function (index, value) {
                        $("#helloworld").append(value + "<br />");
                    });
                }
            }
        });
        
    });
</script>

